<html>
    <head>
        <title>NLP Assignment</title>
    </head>
    <body>
        <h1>Welcome to NLP demonstration</h1>
        <form action="/translate">
            <button style="font-size: 120%">Translator</button>
        </form>
        <form action="spell_check">
            <button style="font-size: 120%">Spell Check</button>
        </form>
        <form action="/word_counter">
            <button style="font-size: 120%">Word Counter</button>
        </form>
        <h3>Click <a href="https://github.com/manins1618/NLP-TextBlob-Demo" target="_blank">here</a> for Source code (GitHub)</h3>
    </body>


</html>